<div nz-row class="form-class">
  <div class="contentbox" nz-col nzSpan="24">
    <h3 class="title">Angular后台管理系统</h3>
    <form nz-form [formGroup]="dateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefix="prefixUser">
            <input nz-input formControlName="userName"  placeholder="输入用户名">
          </nz-input-group>
          <nz-form-explain *ngIf="dateForm.get('userName').dirty && dateForm.get('userName').errors">请输入用户名</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefix="prefixLock">
            <input nz-input formControlName="password" type="password"  placeholder="输入用户名">
          </nz-input-group>
          <nz-form-explain *ngIf="dateForm.get('password').dirty && dateForm.get('password').errors">请输入密码</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox formControlName="remember">
            <span>记住我</span>
          </label>
          <a class="login-form-forgot">忘记密码</a>
          <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
          Or
          <a href="">register now!</a>
        </nz-form-control>
      </nz-form-item>
    </form>
    <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
    <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
  </div>
</div>