.form-class{
  height: 100%;
  position: relative;
}
.contentbox {
  position: absolute;
  left: 45%;
  top: 40%;
  width: 380px;
  height: 320px;
  margin: 0 auto;
  align-items: center;
  & .title {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
  }
}
.login-form {
  max-width: 300px;
  margin: auto;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}