<div nz-row nzGutter="8" class="nav-top">
  <div class="font22 nav-left font18" nz-col nzSpan="8">
    <i class="icon-title" nz-icon spin type="github"></i>
    Angular后台管理系统
  </div>
  <div nz-col nzSpan="8">
    <nz-select style="width: 120px;" [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="请选择">
      <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
      <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    </nz-select>
  </div>
  <div nz-col nzSpan="8" class="nav-left">
    <div nz-row nzGutter="8" nzType="flex" nzJustify="end">
      <div nz-col nzSpan="3" class="font18">
        <nz-dropdown>
          <a nz-dropdown>
              <i nz-icon type="setting"></i>
          </a>
          <ul nz-menu nzSelectable>
            <li nz-menu-item>
              <a>关于我</a>
            </li>
            <li nz-menu-item>
              <a>设置</a>
            </li>
            <li nz-menu-item>
              <a>退出</a>
            </li>
          </ul>
        </nz-dropdown>
      </div>
      <div nz-col nzSpan="3" class="nav-left font18">
        <nz-dropdown>
          <a nz-dropdown>
              <i nz-icon type="setting"></i>
          </a>
          <ul nz-menu nzSelectable>
            <li nz-menu-item>
              <a>关于我</a>
            </li>
            <li nz-menu-item>
              <a>设置</a>
            </li>
            <li nz-menu-item>
              <a>退出</a>
            </li>
          </ul>
        </nz-dropdown>
      </div>
      <div nz-col nzSpan="3" class="nav-left font18">
        <nz-dropdown>
          <a nz-dropdown>
              <i nz-icon type="setting"></i>
          </a>
          <ul nz-menu nzSelectable>
            <li nz-menu-item>
              <a>关于我</a>
            </li>
            <li nz-menu-item>
              <a>设置</a>
            </li>
            <li nz-menu-item>
              <a>退出</a>
            </li>
          </ul>
        </nz-dropdown>
      </div>
    </div>
  </div>
</div>